<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>

    <div id="main">
        <% allusers.forEach(function(elem){%>
            <div id="au">
                
                <h2>username : <%=elem.username%>
                </h2>
                
                <h2>gender: <%= elem.password %>
                </h2>
              
            <% })%>
    </div>
</body>

</html>