
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
    background-color: #eeeeee;
font-family: gilroy;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  ul {
    color: black;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: relative;
  }
  
  .front_card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 450px;
    background-color: #ffffff;
    color: black;
    display: flex;

    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    /*clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);*/
    transition: clip-path 0.5s ease;
  
  }
  
  .front_card > .login_form {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  
  .front_card > .signup_form {
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  
  .front_card.front_card_signup > .login_form {
    opacity: 0;
  }
  
  .front_card.front_card_signup {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
  
  .front_card.front_card_signup > .signup_form {
    opacity: 1;
  }
  
  .front_card form {
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
  }
  
  .back_card {
    width: 650px;
    height: 350px;
    background-color: #ffffff;
    display: flex;
  }
  
  .back_card > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .back_card > div > h2 {
    color: black;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    outline: none;
    font-size: 13px;
    border-radius: 2px;
    padding: 12px 10px;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
    background: #efefef;
    border: 2px solid #1100ff;
    border-radius: 20px;
    margin: 0;
    color: black;
  }
  
  input:focus {
    border: 3px solid #0022ff;
  }
  
  #button {
    border: none;
    box-shadow: none;
    font-family: "Open Sans", sans-serif;
    background-color: #002aff;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 10px;
  }
  
  button {
    border: none;
    box-shadow: none;
    font-family: "Open Sans", sans-serif;
    background-color: #1100ff;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    color: white; 
  }
  